# Procedimiento de automatizacion TXT

### Importamos las librerias

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

print('Importado !')

Importado !

### Creamos el DataFrame

In [2]:
# Extraemos los datos del TXT: precios_semana_20200518.txt
data = pd.read_csv('Datasets\precios_semana_20200518.txt', sep = '|')
data.head()

   precio    producto_id sucursal_id
0   29.90  0000000002288     2-1-009
1   32.90  0000000002288     2-1-037
2   36.90  0000000002288     2-1-090
3   39.90  0000000002288     2-3-247
4  499.99  0000000205870     9-1-430

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415293 entries, 0 to 415292
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   precio       413333 non-null  float64
 1   producto_id  415287 non-null  object
 2   sucursal_id  415287 non-null  object
dtypes: float64(1), object(2)
memory usage: 9.5+ MB

In [4]:
data.shape

(415293, 3)

### Quitamos valores nulos

In [5]:
# Porcentaje del número de valores nulos en las columnas :
total = data.shape[0]
list_porcent = list(map(lambda x: round(x * 100/ total,4), data.isnull().sum().tolist()))
total_por = sum(list_porcent)
print(f'Porcentaje total de valores nulos: {total_por}%')

Porcentaje total de valores nulos: 0.4748%

Como la cantidad de valores nulos es menor al 5%, se borrarán del dataset

In [6]:
# Eliminamos valores nulos
data.dropna(axis = 0, inplace=True)
data.shape

(413331, 3)

### Quitamos Duplicados

In [7]:
# Quitamos duplicados
data.drop_duplicates(inplace=True)
data.shape

(413145, 3)

### Cargamos los datos a la DB en MySQL

In [8]:
# Creamos la cadena para conectarnos nuestra base de datos: ETL_BD
cadena_conexion = 'mysql+pymysql://root:123456789@localhost:3306/ETL_BD'
# Hacemos la conexion:
conexion = create_engine(cadena_conexion)
# Creamos la tabla en MySQL
data.to_sql(name = 'precios', con = conexion, if_exists = 'append')
print('Tabla: "precios" creada en la base de datos "ETL_BD" de MySQL.')

Tabla: "precios" creada en la base de datos "ETL_BD" de MySQL.

# Funcion automatizada

In [9]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

print('Importado !')

Importado !

In [10]:
def Ingesta_TXT(File, SEP = '|'):
    # Extraemos los datos:
    print('Cargando el archivo ...\n')
    dtxt = pd.read_csv(File, sep = SEP)
    # Porcentaje total de valores nulos en las columnas:
    print('Limpiando el archivo ...\n')
    total = dtxt.shape[0]
    list_porcent = list(map(lambda x: round(x * 100/ total,4), dtxt.isnull().sum().tolist()))
    total_por = sum(list_porcent)
    if total_por < 5:
        # Eliminamos valores nulos
        dtxt.dropna(axis = 0, inplace=True)
        # Quitamos duplicados
        dtxt.drop_duplicates(inplace=True)
    else:
        pass
    # Cargamos en la base de datos
    print('Cargando a la base de datos ...\n')
    cadena_conexion = 'mysql+pymysql://root:123456789@localhost:3306/ETL_BD'
    conexion = create_engine(cadena_conexion)
    dtxt.to_sql(name = 'precios', con = conexion, if_exists = 'append')
    print('DataFrame ingestado en la base de datos !!!\n')
    print(f'El DataFrame tiene {dtxt.shape[1]} columnas y {dtxt.shape[0]} filas.')
    return dtxt

In [11]:
File = 'Datasets\precios_semana_20200518.txt'
df = Ingesta_TXT(File)

Cargando el archivo ...

Limpiando el archivo ...

Cargando a la base de datos ...

DataFrame ingestado en la base de datos !!!

El DataFrame tiene 3 columnas y 413145 filas.

In [12]:
df.head()

   precio    producto_id sucursal_id
0   29.90  0000000002288     2-1-009
1   32.90  0000000002288     2-1-037
2   36.90  0000000002288     2-1-090
3   39.90  0000000002288     2-3-247
4  499.99  0000000205870     9-1-430